<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Catalogo de Produtos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CatalogoProdutosMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="btn_menu">
        <span class="fas fa-bars"></span>
    </div>
    <nav class="sidebar">
        <div class="text">
            <a role="button" asp-controller="Products" asp-action="Index">Catalogo</a>
        </div>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#masculino_collapse" aria-expanded="true">
                    Masculino
                </button>
                <div class="collapse show" id="masculino_collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" id="ul_link">
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Masculino" asp-route-sub="Camiseta" class="link-dark rounded">Camisetas</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Masculino" asp-route-sub="Calca" class="link-dark rounded">Calças</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Masculino" asp-route-sub="Calcado" class="link-dark rounded">Calçados</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Masculino" asp-route-sub="Blusa" class="link-dark rounded">Blusa</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Masculino" asp-route-sub="Bone" class="link-dark rounded">Boné</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Masculino" asp-route-sub="Meia" class="link-dark rounded">Meia</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Masculino" asp-route-sub="RoupaIntima" class="link-dark rounded">Roupas Intimas</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#feminino_collapse" aria-expanded="false">
                    Feminino
                </button>
                <div class="collapse" id="feminino_collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" id="ul_link">
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Feminino" asp-route-sub="Camiseta" class="link-dark rounded">Camisetas</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Feminino" asp-route-sub="Calca" class="link-dark rounded">Calças</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Feminino" asp-route-sub="Calcado" class="link-dark rounded">Calçados</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Feminino" asp-route-sub="Blusa" class="link-dark rounded">Blusa</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Feminino" asp-route-sub="Meia" class="link-dark rounded">Meia</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-cat="Feminino" asp-route-sub="RoupaIntima" class="link-dark rounded">Roupas Intimas</a></li>
                    </ul>
                </div>
            </li>           
            
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#pedidos_collapse" aria-expanded="false">
                    Pedidos
                </button>
                <div class="collapse" id="pedidos_collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" id="ul_link">
                        <li><a class="link-dark rounded" id="camisetas" asp-route="Pedido">Pedidos pendentes</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    Produtos
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" id="ul_link">
                        <li><a class="link-dark rounded" asp-route="Cadastrar">Novo produto</a></li>
                        <li><a class="link-dark rounded" asp-route="Estoque">Estoque</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*    <footer class="border-top footer text-muted" style="background: #212529">
        <div class="container" style="color:white">
        &copy; 2022 - Catalogo de Produtos
        </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
  
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
