@using CatalogoProdutosMVC.Enums
@model ProdutoModel
@{
    ViewData["Title"] = "Cadastro de produtos";
}
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-3">Cadastrar Produtos</h1>
</div>
<br />
<div class="container">
    <form class="row g-3" asp-controller="Products" asp-action="Cadastro" method="post" enctype="multipart/form-data">
        <input type="hidden" />
        <div class="col-md-12">
            <label for="nomeProduto" class="form-label">Nome do produto</label>
            <input asp-for="NomeProduto" class="form-control" />
        </div>
        <div class="col-6">
            <label for="preco" class="form-label">Preço</label>
            <input asp-for="Preco" class="form-control" />
        </div>
        <div class="col-6">
            <label for="quantidade" class="form-label">Quantidade</label>
            <input asp-for="Quantidade" type="number" class="form-control" />
        </div>
         <div class="col-6">
            <label for="tamanho" class="form-label">Tamanho</label>
            <input asp-for="Tamanho" class="form-control" />
        </div>
         <div class="col-6">
            <label for="cor" class="form-label">Cor</label>
            <input asp-for="Cor" class="form-control" />
        </div>
        <div class="form-group">
            <label for="categoria">Categoria</label>
            <select asp-for="Categoria" class="form-control">
                <option value="">Selecione</option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Situacao">SubCategoria</label>
            <select asp-for="SubCategoria" class="form-control">
                <option value="">Selecione</option>
                <option value="Camiseta">Camiseta</option>
                <option value="Calca">Calça</option>
                <option value="Blusa">Blusa</option>
                <option value="Calcado">Calçado</option>
                <option value="Bone">Boné</option>
                <option value="Meia">Meia</option>
                <option value="RoupaIntima">Roupa Intima</option>
            </select>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea asp-for="Descricao" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" name="Imagem1">
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" name="Imagem2">
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" name="Imagem3">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-sm btn-primary">Cadastrar</button>
            <a role="button" class="btn btn-sm btn-secondary" asp-controller="Products" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>