@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="text-center">
    <h3 class="display-4">Pedidos</h3>
</div>
<br />
<div class="container table-responsive-sm text-center">
    <table class="table table-hover table-bordered" id="table_pedidos">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do vendedor</th>
                <th scope="col">Nome do cliente</th>
                <th scope="col">Cor</th>
                <th scope="col">Nome do produto</th>
                <th scope="col">Preço</th>
                <th scope="col">Categoria</th>
                <th scope="col">Quantidade</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Michel</td>
                <td>Sonia</td>
                <td>Vermelha</td>
                <td>Camiseta Masculina</td>
                <td>20,00</td>
                <td>Camiseta</td>
                <td>2</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger" asp-route-id="">Apagar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Anderson</td>
                <td>Zé Belo</td>
                <td>Preto</td>
                <td>Calça Masculina</td>
                <td>80,00</td>
                <td>Calça</td>
                <td>1</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger">Apagar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Pauleane</td>
                <td>Higor</td>
                <td>Azul</td>
                <td>Tenis Masculino</td>
                <td>120,00</td>
                <td>Calçado</td>
                <td>1</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-danger">Apagar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>